{% extends "dashboard\master.html" %}
{% block title %}
Detailed Inventory
{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<table>
    <thead>
        <td>Client No</td>
        <td>Glory ID</td>
        <td>Denomination</td>
        <td>Amount</td>
    </thead>
    {% for user in detailed_inventory %}
    <tr>
        <td> {{user.clientno}}</td>
        <td> {{user.gloryid}}</td>
        <td> {{user.media_value}}</td>
        <td> {{user.amount}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total Amount</td>
        <td colspan="2">{{total_amount}}</td>
    </tr>
</table>
{% endblock content %}